.inventory {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  &__item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f6f6f6;
    width: 100%;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: white;
    align-items: center;
  }
}

.heading__editBtn-container {
    display: flex;
    flex-direction: row;
    width: 300px;
}
