.inventories {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #f6f6f6;
  }
}

.inventory {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: #f6f6f6;
  align-items: center;

  &__main-heading-and-input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    width: 100%;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #f6f6f6;
  }

  &__main-heading {
    display: flex;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f6f6;
  }

  &__input {
    display: flex;
    border: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: #f6f6f6;
    padding: 10px;
    width: 295px;
  }
  &__input:hover {
    border-color: lightgrey;
  }

  &__add-btn {
    display: flex;
    border: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: #2e66e5;
    padding: 10px;
    width: 295px;
    justify-content: center;
    margin: 10px 0 10px 0;
    background-color: #2e66e5;
    color: white;
    text-decoration: none;
  }
  &__add-btn:hover {
    border-color: #f6f6f6;
  }

  &-card1,
  &-card2,
  &-card3,
  &-card4,
  &-card5,
  &-card6,
  &-card7,
  &-card8 {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    border-top: solid;
    border-width: 1px;
    border-color: #bdc5d5;
    align-items: center;
  }

  &__info {
    display: flex;
    width: 390px;
    height: 180px;
    justify-content: space-evenly;
    margin-top: 30px;
  }

  &__info-box1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 180px;
  }

  &__item-name {
    display: flex;
    width: 160px;
    height: 25px;
    color: #2e66e5;
    justify-content: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
  }
  &__item-name:hover {
    text-decoration: underline;
  }

  &__category {
    display: flex;
    width: 160px;
    height: 25px;
    justify-content: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 1px;
  }

  &__item-no {
    display: flex;
    width: 160px;
    height: 25px;
    justify-content: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
  }

  &__info-box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
    height: 180px;
  }

  &__status {
    display: flex;
    width: 160px;
    height: 25px;
    justify-content: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
  }

  &__quantity {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    width: 160px;
    height: 25px;
  }

  &__location {
    display: flex;
    width: 160px;
    height: 25px;
    color: #2e66e5;
    justify-content: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
  }
  &__location:hover {
    text-decoration: underline;
  }
  &__card-btn {
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin: 25px 5px 25px 5px;
  }

  &-delete {
    display: flex;
    width: 80px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: lightgrey;
    text-decoration: none;
    color: black;
    background-color: white;
  }

  &-delete:hover {
    background-color: #ff411b;
    border-color: #ff411b;
    color: white;
  }

  &-edit {
    display: flex;
    width: 80px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: lightgrey;
    text-decoration: none;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }

  &-edit:hover {
    background-color: #2e66e5;
    border-color: lightgrey;
    color: white;
  }

  &__item-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: grey;
    width: 160px;
    height: 25px;
  }

  &__category-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: grey;
    width: 160px;
    height: 25px;
  }

  &__itemnumber-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: grey;
    width: 160px;
    height: 25px;
  }

  &__status-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: grey;
    width: 160px;
    height: 25px;
  }

  &__quantity-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: grey;
    width: 160px;
    height: 25px;
  }

  &__heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: grey;
    width: 160px;
    height: 25px;
  }
}
